html {
    font-family: Comic Sans MS, sans-serif;
}

h1 {
    font-family: Comic Sans MS, sans-serif;
    font-size: 50pt;
}

.smells_table, .smells_table th, .smells_table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.center-text {
    text-align: center;
}

.line-highlight {
    background-image: linear-gradient(to right, rgba(249, 60, 31, 0.2) 70%, rgba(255, 122, 102, 0)) !important;
    cursor: pointer !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Highlight js numbers */
/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px !important;
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}
