html {
    font-family: Comic Sans MS, sans-serif;
}

h1 {
    font-family: Comic Sans MS, sans-serif;
    font-size: 50pt;
}

.smells_table, .smells_table th, .smells_table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.center-text {
    text-align: center;
}

/* TODO: refactor cursor to one css class */
.error {
    background-color: rgba(249, 31, 31, 0.4);
    cursor: pointer;
}

.warning {
    background-color: rgba(249, 147, 31, 0.4);
    cursor: pointer;
}

.refactor {
    background-color: rgba(249, 220, 31, 0.3);
    cursor: pointer;
}

.convention{
    background-color: rgba(31, 151, 249, 0.15);
    cursor: pointer;
}

/* Highlight js numbers */
/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px !important;
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}
